<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="megabyteApp" ng-controller="MainCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<three></three>
<!--<div class="row-fluid text-center">-->
    <!--<img src="images/logo.png" alt=""/>-->
<!--</div>-->
<!-- Add your site or application content here -->
<div id="tridiv">
    <div class="scene"
         style="-webkit-transform:rotateX(0deg) rotateY(0deg); -moz-transform:rotateX(0deg) rotateY(0deg); -ms-transform:rotateX(0deg) rotateY(0deg); transform:rotateX(0deg) rotateY(0deg); ">
        <div class="shape prism-1 pri-1">
            <div class="face ft">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.14902);">
                </div>
            </div>
            <div class="face bk">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);">

                </div>
            </div>
            <div class="face-wrapper rt">
                <div class="face">
                    <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0588235);"></div>
                </div>
            </div>
            <div class="face-wrapper lt">
                <div class="face">
                    <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0352941);"></div>
                </div>
            </div>
            <div class="face bm">
                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.137255);">
                    <nav>
                        <ul>
                            <li ng-repeat="cat in categories" ng-style="{'font-weight: bold': category==cat}"
                                ng-click="setActive(cat)">{{ cat }}
                            </li>
                        </ul>
                    </nav>
                    <div class="row-fluid">
                        <div class="span2" ng-disabled="activeNum==0" ng-click="prev()" style="padding-left:5px; box-sizing:border-box;;">≤ Prev</div>
                        <div class="span8" style="text-align: center">{{ category }}</div>
                        <div class="span2" ng-disabled="activeNum == active.length-1" style="padding-right:5px" ng-click="next()">Next ≥</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape cuboid-1 cub-1">
            <div class="face ft row-fluid">
                <div class="photon-shader row-fluid" style="background-color: rgba(255, 255, 255, 0.137255);">
                    <div class="container row-fluid" ng-view="">

                    </div>
                </div>
            </div>
            <div class="face bk">
              <div class="photon-shader row-fluid" style="background-color: rgba(255, 255, 255, 0.137255);">
                <div class="container row-fluid" ng-view="">

                </div>
              </div>
            </div>
            <div class="face rt">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0588235);"></div>
            </div>
            <div class="face lt">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0352941);"></div>
            </div>
            <div class="face bm">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
            </div>
            <div class="face tp">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
            </div>
        </div>
        <div class="shape cuboid-2 cub-2">
            <div class="face ft">
                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.137255);"></div>
            </div>
            <div class="face bk">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.239216);"></div>
            </div>
            <div class="face rt">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0588235);"></div>
            </div>
            <div class="face lt">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0352941);"></div>
            </div>
            <div class="face bm">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
            </div>
            <div class="face tp">
                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
            </div>
        </div>
    </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>

<!-- build:js scripts/plugins.js -->
<script src="bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
<script src="bower_components/threejs/build/three.js"></script>
<script src="scripts/libraries/threejs/three.min.js"></script>

<script src="scripts/libraries/threejs/ConvolutionShader.js"></script>
<script src="scripts/libraries/threejs/CopyShader.js"></script>
<script src="scripts/libraries/threejs/FilmShader.js"></script>
<script src="scripts/libraries/threejs/FXAAShader.js"></script>

<script src="scripts/libraries/threejs/EffectComposer.js"></script>
<script src="scripts/libraries/threejs/RenderPass.js"></script>
<script src="scripts/libraries/threejs/ShaderPass.js"></script>
<script src="scripts/libraries/threejs/MaskPass.js"></script>
<script src="scripts/libraries/threejs/BloomPass.js"></script>
<script src="scripts/libraries/threejs/FilmPass.js"></script>

<script src="scripts/libraries/threejs/Detector.js"></script>
<script src="scripts/libraries/threejs/stats.min.js"></script>
<script src="scripts/libraries/lily_script_one_regular.typeface.js"></script>
<script src="scripts/libraries/poiret_one_regular.typeface.js"></script>
<script src="scripts/libraries/threejs/gentilis_bold.typeface.js"></script>
<script src="scripts/libraries/threejs/gentilis_regular.typeface.js"></script>
<script src="scripts/libraries/threejs/optimer_bold.typeface.js"></script>
<script src="scripts/libraries/threejs/optimer_regular.typeface.js"></script>
<script src="scripts/libraries/threejs/helvetiker_bold.typeface.js"></script>
<script src="scripts/libraries/threejs/helvetiker_regular.typeface.js"></script>
<script src="scripts/libraries/threejs/droid_sans_regular.typeface.js"></script>
<script src="scripts/libraries/threejs/droid_sans_bold.typeface.js"></script>
<script src="scripts/libraries/threejs/droid_serif_regular.typeface.js"></script>
<script src="scripts/libraries/threejs/droid_serif_bold.typeface.js"></script>

<!-- endbuild -->

<!-- build:js scripts/modules.js -->
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/web-development.js"></script>
<script src="scripts/controllers/video.js"></script>
<script src="scripts/controllers/team.js"></script>
<script src="scripts/controllers/contact.js"></script>
<script src="scripts/controllers/music.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/directives/three.js"></script>
<!-- endbuild -->
</body>
</html>
