<h3>Small team, agile and execution oriented.</h3>


<p>
    Having built applications from the ground up, the Megabyte team knows what its like to tread muddy waters and explore uncharted territories in design and technology.
</p>

<p>
    Experience w clients across all industries including:
<ul>
    <li>Medical</li>
    <li>Legal</li>
    <li>Entertainment and Music Industry</li>
    <li>Industrial</li>
</ul>
</p>
<p>Our personal experience with our diverse clients gives us the confidence to say we have what it takes to get the job done.
</p>


<p>
    mb tech has worked with a wide range of clientele finding the best solution whether it be designing an application from the ground up, video production, and motion graphics.

</p>
<p>
    Our strength lies in our mutual and limitless intrigue and appreciation for technology.
    With different but complementary skill sets our team is confident to stand by our solution.
</p>
